body
{
    display: grid;
    grid-template: 'header notify' 60px
        'article notify' 1fr
        'footer footer' 50px / 1fr 212px;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;

    font-family: Arial;
    font-size: 81.25%;
    line-height: 1.25;
    color: black;
}

a
{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover
{
    color: #dc143c;
}

a:hover span
{
    color: #dc143c;
}

.page-header__h1
{
    display: flex;
    align-items: center;
}

.page-header__h1 > a
{
    margin: 10px;
}

.page-header__h2
{
    color: #808080;
}

.page-header
{
    grid-area: header;
    padding: 10px;
}

.main
{
    grid-area: article;
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: 176px 109px 83px 115px;
    grid-template-columns: 1fr 260px 260px 260px 1fr;
    grid-template-areas: '. news news offer .'
        'logo search search search .'
        '. weather traffic map .'
        '. popular program film .';
}

.main__news-widget
{
    grid-area: news;
    width: 512px;
}

.widget-preview
{
    color: #808080;
}

.widget-rate
{
    order: 1;
    margin-top: 10px;
}

.widget-rate span
{
    margin-left: 5px;
    margin-right: 5px;
}

.widget-header,
.main__offer > a,
.main__news-widget > details > label,
.main__film-widget > details > label
{
    color: #0054b9;
    font-size: 123%;
    font-weight: 500;
}

.widget-header::-webkit-details-marker,
.notify-desk > summary::-webkit-details-marker
{
    display: none;
}

.widget-header::after
{
    margin-left: 10px;
    content: '';
    width: 20px;
    height: 20px;
    background: url('goals/open.png');
    position: absolute;
}

details[open] > .widget-header::after
{
    transform: rotate(180deg);
}

details[open] ~ .widget-preview
{
    display: none;
}

details:not([open]) ~ .widget-preview
{
    display: inline-block;
}

details:not([open]) > summary > .content-open
{
    display: none;
}

details[open] > summary > .content-close
{
    display: none;
}

.main__news-widget > details[open] > summary
{
    margin-left: 343px;
}

.main__film-widget > details[open] > summary
{
    margin-left: 200px;
}

.content-open > a,
.main__news-widget > details > label,
.main__film-widget > details > label
{
    margin-right: 10px;
    color: #6da2e1;
}

.header__today,
.header__town,
.header__interest,
.header__now,
.header__film,
.header__serial,
.news-widget__today,
.news-widget__town,
.news-widget__interesting,
.film-widget__now,
.film-widget__films,
.film-widget__serial
{
    display: none;
}

.header__today:checked ~ .news-widget__today,
.header__town:checked ~ .news-widget__town,
.header__interest:checked ~ .news-widget__interesting,
.header__now:checked ~ .film-widget__now,
.header__film:checked ~ .film-widget__films,
.header__serial:checked ~ .film-widget__serial
{
    display: flex;
    flex-direction: column;
}

.header__today:checked + label,
.header__town:checked + label,
.header__interest:checked + label,
.header__now:checked + label,
.header__film + label,
.header__serial + label
{
    color: #0054b9;
}

.content__item
{
    display: flex;
    margin-top: 5px;
}

.content__item > img
{
    margin-left: -19px;
    width: 15px;
    height: 15px;
}

.content__item > a,
.main__offer > p
{
    margin: 0;
}

.content__item > a
{
    margin-left: 5px;
}

.main__offer
{
    grid-area: offer;
    display: flex;
    flex-direction: column;
}

.main__offer img
{
    margin-bottom: 10px;
    width: 120px;
    height: 90px;
}

.main__weather-widget
{
    grid-area: weather;
}

.main__traffic-widget
{
    grid-area: traffic;
}

.main__map-widget
{
    grid-area: map;
}

.main__popular-widget
{
    grid-area: popular;
}

dt::after
{
    content: '\2013';
    margin-left: 5px;
}

dt
{
    display: inline-block;
    font-weight: 700;
}

dd
{
    display: inline-block;
    margin-left: 5px;
}

.popular-widget__content
{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.main__program-widget
{
    grid-area: program;
}

.program-widget__content,
.film-widget__films,
.film-widget__serial,
.film-widget__now
{
    list-style-type: none;
    margin-top: 5px;
    padding: 0;

}

.program-widget__content > li > a
{
    margin-left: 10px;
}

.additional
{
    color: #808080;
}

.main__film-widget
{
    grid-area: film;
}

.film-widget__films,
.film-widget__serial,
.film-widget__now
{
    list-style-image: url('goals/play.svg');
}

.weather-widget__content,
.traffic-widget__content
{
    display: flex;
    margin-top: 5px;
}

.map-widget__content
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.map-widget__content > a
{
    margin-right: 10px;
}

.weather-widget__content > img
{
    width: 48px;
    height: 48px;
}

.traffic-widget__content > img
{
    margin-top: auto;
    margin-bottom: auto;
    width: 33px;
    height: 30px;
}

.temp
{
    font-size: 40px;
    margin-left: 5px;
}

.weather-widget__content > .temp::after
{
    content: '\00B0';
}

.weather-widget__content > p,
.traffic-widget__content > p
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.notify-desk
{
    grid-area: notify;
    display: grid;
    grid-template: 'content avatar';
    margin: 10px 10px 0 0;
    padding: 15px;
    width: 172px;
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    background: #fff;
}

.notify-desk__optional
{
    opacity: 0;
}

.notify-desk__login
{
    margin-bottom: 15px;
    font-weight: 700;
}

.notify-desk__item
{
    margin: 5px 0;
}

.value
{
    margin-left: 10px;
    font-weight: 700;
}

.notify-desk__card
{
    display: none;
}

.notify-desk > span,
.notify-desk > span > span
{
    display: block;
}

.notify-desk__content
{
    grid-area: content;
}

.notify-desk__avatar
{
    grid-area: avatar;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    margin-left: auto;

    background: url('goals/circle.svg');
}

.avatar__img
{
    width: 28px;
    height: 28px;

    margin: 4px;
}

.notify-desk__card:checked ~ .notify-desk
{
    height: 100px;
}

.notify-desk__card:checked ~ .notify-desk .notify-desk__optional
{
    opacity: 1;
}

.page-footer
{
    grid-area: footer;
    padding: 10px;

    background: #dcdcdc;
}

.page-footer__content
{
    display: flex;
    align-items: center;
    color: #808080;
}

.page-footer__content > a
{
    margin: 5px;
}

.page-footer__content > .page-footer__label
{
    margin-left: auto;
}

.main__search-line
{
    grid-area: search;
    display: grid;
    grid-template-areas: 'what-serch'
        'searcherLine'
        'example';
}

.search-line__kind
{
    grid-area: what-serch;
    margin-top: auto;
    margin-bottom: 5px;
}

.search-line__kind > a
{
    color: #0054b9;
    margin-right: 20px;
    font-size: 1.16em;
}

.search-line__example
{
    grid-area: example;
}

.search-line__example > p
{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0;
}

.search-line__example > a
{
    display: inline-block;
    color: #808080;
}

.main__logo
{
    grid-area: logo;
    margin-right: 0;
    margin-left: auto;
}

.notify-desk__login::first-letter
{
    color: #f00;
}

.search-line__searcher
{
    grid-area: searcherLine;
    width: 95%;
    display: flex;
    align-items: center;
}

.searcher__input
{
    width: 90%;
    height: 36px;
    border: 2px solid #ffd700;
}

.searcher__submit-button
{
    height: 36px;
    width: 10%;
    background: #ffd700;
    border: #ffd700;

    font-size: 18px;
}

.searcher__arrow
{
    width: 0;
    height: 0;
    border: 18px solid #fff;
    border-left-color: #ffd700;
    border-right: 0;
}
